body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url('1366252.jpg');
    background-repeat: none;
    background-size: cover;
}
.maincard{
    padding: 40px;
    width: 78%;
    
}
.row{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.column-one{
padding: 40px;
text-align: center;
width: 37%;

}
.column-two{
    padding: 20px;
    width: 63%;
    display: flex;
    flex-direction: column;
}
.ageandgender{
    display: flex;
    flex-direction: row;
}

.searching{
    display: flex;
    flex-direction: row;
}

.content-display{
    height: 80%;
    margin: 10px;
}

.heading{
    color: rgb(82, 82, 82);
    text-align: center;
    font-size: 30px;

}

.viewall-patients{
    margin: 20px;
    margin-left: 0;
}

.modal-box{
  position: 'absolute';
  overflow-y: auto;
  margin: 20px;
  width: 400;
  box-shadow: 24;
  padding: 10px;
  border: '2px solid #000';
  background-color: rgb(231, 231, 231);
  
}

.modalOverlay{
    position: fixed;
}


@media only screen and (max-width: 500px) {
    .row{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .column-one{
        padding: 5px;
        width: 100%;
    }
    .column-two{
        padding: 5px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .searching{
        display: flex;
        flex-direction: column;
    }

    .ageandgender{
        display: flex;
        flex-direction: column;
    }

  }


